@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Work+Sans:wght@600&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* -------------- Header -------------- */

#header-container {
    text-align: center;
    background-color: #FFB84C;
    height: 8rem;
    padding-top: 1.5rem;
}

.title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 3px;
    font-weight: 800;
}

.navbar-nav .nav-link {
    font-weight: 600;
    margin: 0px 10px;
    color: whitesmoke;
}

.navbar-nav .nav-link:hover {
    color: white;
}

#header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 7%;
}

#logout-form {
    text-align: center;
    margin: 2rem 0;
}

.logout-btn {
    border: solid;
    border-width: 2px;
    font-weight: 500;
}

/* -------------- Home Articles-------------- */

#article-container {
    margin: 5rem 20%;
}

#article-container h2 {
    margin-bottom: 2rem;
    font-weight: 700;
}

.article-title {
    font-style: italic;
    font-weight: 600;
}

.article-content {
    font-size: 1.5rem;
}

.article-item {
    margin: 4rem 0;
}

.article-img {
    float: right;
    width: 12rem;
    height: 13rem;
    margin-left: 2rem;
}

.article-content {
    height: 10rem;
}

/* -------------- Full Articles -------------- */

.full-article-title {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 4rem;
}

.full-article-content {
    font-size: 2rem;
}

.images-container {
    margin: 6rem auto;
    text-align: center;
}

.img-title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.full-img {
    width: 80%;
}

/* -------------- Register -------------- */

#register-container {
    margin: 4rem 30%;
}

#register-container .form-row {
    margin: 1rem auto;
}

#register-container label {
    font-weight: 500;
}

#register-container h1 {
    text-align: center;
}

#register-container .btn {
    font-weight: 700;
}

#register-container .btn:hover {
    color: white;
}

/* -------------- Login -------------- */

#login-container {
    margin: 3rem 37% 10.3rem;
    text-align: center;
}

#login-container h1 {
    margin: 2rem auto;
}

#login-container .form-group {
    margin: 2rem auto;
}

#login-container img {
    border-radius: 50%;
    width: 35%;
    margin: 2rem auto;
}

@media screen and (max-width: 1200px) {
    #login-container {
        margin: 2rem 32%;
    }
}

@media screen and (max-width: 800px) {
    #login-container {
        margin: 2rem 20%;
    }
}

/* -------------- Students -------------- */

#students-container {
    margin: 3rem 10%;
}

.columns-header p {
    display: inline-block;
    margin: auto 1.5rem;
}

p.img-header {
    margin-left: 3rem;
    margin-right: 3rem;
}

.header-line {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

p.group {
    margin-left: 0rem;
}

.student {
    margin: 1rem auto;
    height: 10rem;
}

.bottom-line {
    height: 10px;
    border: 0;
    box-shadow: 0 5px 5px -5px #d3d2d2 inset;
}

.student p, h4, img, a {
    display: inline-block;
    margin: auto 1.5rem;
    font-weight: 600;
}

.student-img {
    height: 6rem;
    width: 6rem;
}

.rank {
    color: #737373;
    font: 600 30px/30px 'Work Sans';
}

.create-student-button {
    position: absolute;
}

.student:hover {
    background-color: #FAD6A5;
}

/* -------------- Student -------------- */

#student-container {
    margin: 3% 20%;
    text-align: center;
}

.full-img-student {
   width: 15%; 
   border-radius: 50%;
   border: solid;
}

.student-info {
    margin: 1.5rem auto;
}

.main-info .name {
    font-weight: 600;
    font-size: 1.5rem;
}

.main-info .specialty {
    font-weight: 500;
    font-size: 1.2rem;
}

.main-info p {
    display: inline-block;
    margin: auto 1rem;
}

.rank-group-grade p {
    display: inline-block;
    margin: 0rem 2rem;
}

.info-container {
    padding: 2rem;
}

.subjects {
    margin: 3rem 10%;
}

.subjects h3 {
    margin-bottom: 2rem;
}

.grades-table {
    text-align: left;
}

.grades-table hr {
    margin: 0;
    margin-bottom: 10px;
}

.small-info {
    font-weight: 600;
}

.col-name {
    font-weight: 600;
}

.left-align {
    text-align: left;
}

/* -------------- Create student -------------- */

#create-student-container {
    margin: 5% 30%;
}

#create-student-container .form-row {
    margin: 1.5rem auto;
}

#create-student-btn {
    text-align: center;
    margin: 2rem;
}

/* -------------- Footer -------------- */

#footer-container {
    background-color: #FFB84C;
    text-align: center;
    margin: 0;
    height: 10rem;
    padding: 2rem;
}

#footer-container p {
    margin: 0;
}

.contacts {
    margin-top: 2rem;
}

.contacts a {
    margin: 20px;
    color: white;
}