@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* -------------- Header -------------- */

#header-container {
    text-align: center;
    background-color: #FFB84C;
    height: 8rem;
    padding-top: 1.5rem;
}

.title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 3px;
    font-weight: 800;
}

.navbar-nav .nav-link {
    font-weight: 600;
    margin: 0px 10px;
    color: whitesmoke;
}

.navbar-nav .nav-link:hover {
    color: white;
}

/* -------------- Home Articles-------------- */

#article-container {
    margin: 5rem 20%;
}

#article-container h2 {
    margin-bottom: 2rem;
    font-weight: 700;
}

.article-title {
    font-style: italic;
    font-weight: 600;
}

.article-content {
    font-size: 1.5rem;
}

.article-item {
    margin: 4rem 0;
}

.article-img {
    float: right;
    width: 12rem;
    height: 13rem;
    margin-left: 2rem;
}

.article-content {
    height: 10rem;
}

/* -------------- Full Articles -------------- */

.full-article-title {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 4rem;
}

.full-article-content {
    font-size: 2rem;
}

.images-container {
    margin: 6rem auto;
    text-align: center;
}

.img-title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.full-img {
    width: 80%;
}

/* -------------- Footer -------------- */

#footer-container {
    background-color: #FFB84C;
    text-align: center;
    margin: auto 0;
    height: 10rem;
    padding: 2rem;
}

#footer-container p {
    margin: 0;
}

.contacts {
    margin-top: 2rem;
}

.contacts a {
    margin: 20px;
    color: white;
}