@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* -------------- Header -------------- */

#header-container {
    text-align: center;
    background-color: #FFB84C;
    height: 10rem;
    padding-top: 2rem;
}

.title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    font-weight: 800;
}

.navbar-nav .nav-link {
    font-weight: 600;
    margin: 0px 10px;
}


/* -------------- Footer -------------- */

#footer-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}